.wrapper {
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin: 0 auto;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
  font-family: "Quicksand", "Baloo 2", sans-serif;
}

.contentRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 48px;
}

.left {
  width: 50%;
  flex: 1.2;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.left p {
  padding: 0 1rem;
}
.intro {
  font-size: 1.4rem;
  font-family: "Quicksand", "Baloo 2", sans-serif;
  margin-bottom: 32px;
  line-height: 1.2;
}

.right {
  max-width: 750px;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 1rem;
}

.serviceCard {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 2px 36px;
  width: 100%;
  max-width: 90%;
  min-height: 110px;
  cursor: pointer;
}

.serviceImg {
  width: 120px;
  height: 90px;
  object-fit: contain;
  margin-right: 12px;
}

.serviceTitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
  font-family: "Quicksand", "Baloo 2", sans-serif;
  margin-bottom: 8px;
}

.serviceDesc {
  font-size: 1.1rem;
  color: #444;
  font-family: "Quicksand", "Baloo 2", sans-serif;
}

@media (max-width: 1100px) {
  .contentRow {
    flex-direction: column;
    gap: 32px;
  }
  .right {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .serviceCard {
    padding: 24px 18px;
  }
  .left {
    width: 100%;
  }
  .left p {
    margin-bottom: 10px;
    padding: 0 1rem;
  }
}

@media (max-width: 730px) {
  .intro {
    font-size: 1.2rem;
  }
  .serviceCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 4px;
    min-height: 60px;
    max-width: 90%;
  }
  .serviceImg {
    width: 48px;
    height: 36px;
    margin-right: 0;
  }
  .serviceTitle {
    font-size: 0.95rem;
    margin-bottom: 4px;
  }
  .serviceDesc {
    font-size: 0.85rem;
  }
}
